.Form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica-light;
}

.Form label{
    margin: 6px 0;
}

.Form input{
    margin-bottom: 20px;
    padding: 4px;
    font: 1.1rem Helvetica-light;
    border: 1px solid black;
}

.Form fieldset{
    border: 0;
    padding: 0;
    margin-bottom: 20px;
}

.Form fieldset input{
    margin: 0;
    margin-right: 6px;
}

.Form fieldset label{
    margin-right: 15%;
}

@media(min-width: 875px){
    .Form{
        width: 40%;
        margin: 0;
        margin-top: 150px;
        float: right;
    }
}