*{
    outline: 0;
    padding: 0;
    margin: 0
}

.App{
    padding: 20px;
    overflow: hidden;
}

@font-face {
    font-family: 'Helvetica-light';
    src: url("./assets/fonts/HelveticaNeueLight.ttf");
}

@font-face {
    font-family: 'Helvetica-thin';
    src: url("./assets/fonts/HelveticaNeueThin.ttf");
}

@font-face {
    font-family: 'Helvetica-medium';
    src: url("./assets/fonts/HelveticaNeueMedium.ttf");
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url("./assets/fonts/HelveticaNeueBold.ttf");
}