.Produto{
    height: 240px;
    box-sizing: border-box;
}


.Produto figure{
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
}

.Produto figure img{
    width: calc(100% - 30px);
    height: 100%;
    object-fit: contain
}

.Produto ul{
    float: right;
    width: 50%;
    list-style: none; 
    margin: 0;
    height: 100%;
}

.Produto ul li{
    margin: 12px 0;
    font: 0.8rem Helvetica-light;
}

.Produto ul h2{
    margin-top: 0;
    font: 1.3rem Helvetica-light;
}

.Produto ul h1{
    font: 1.3rem Helvetica-bold;
    margin: 0;
}

.Produto ul button{
    width: 100%;
}